.team{
  padding: 160px 0px 80px 0px;
  background: #F4F5F6;
}

.team__head{
  display: flex;
  justify-content: space-between;
  align-items: end;

  margin-bottom: 60px;
}

.arrows__block{
  display: flex;
  justify-content: space-between;
  align-items: center;
}
  .arrow__left{

    margin-right: 30px;
    padding: 12px 14px;
    svg{
      fill: #424551;
      transition: .5s;
    }
  }

.arrow__left:hover{
  border-radius: 50%;
  background: #FF3F3A;
}
.arrow__left:hover > svg{
  fill: white;
}



  .arrow__right{
    padding: 12px 14px;
    svg{
      fill: #424551;
      transition: .5s;
    }
  }

.arrow__right:hover{
  border-radius: 50%;
  background: #FF3F3A;
}
.arrow__right:hover > svg{
  fill: white;
}




.slider{
  overflow: hidden;
  width: 100%;
}
  .slider__track{
    display: flex;
    justify-content: space-between;
    transition: .3s;
  }

    .slider__item{
      text-align: center;
      max-width: 285px;
      margin-right: 30px;
    }

      .item__head{
        position: relative;
        width: 285px;
        overflow: hidden;
        height: 342px;
      }
    .item__head:hover > .item__wrapper{
      transform: translate(0px, -170px);
      transition: .4s ease-out;
    }


      .item__wrapper{
        padding: 300px 20px 20px 180px;
        background: linear-gradient(180deg, rgba(30, 33, 44, 0) 43.9%, rgba(30, 33, 44, 0.03) 55.21%, rgba(30, 33, 44, 0.33) 68.73%, rgba(30, 33, 44, 0.56) 76.17%, rgba(30, 33, 44, 0.768225) 83.75%, rgba(30, 33, 44, 0.92) 91.49%, #1E212C 100%);
        border-radius: 4px;
        position: absolute;
        content: "";
        bottom: -170px;
        left: 0px;
        width: 285px;
        height: 100%;
        text-align: end;
        transition: .4s;
      }

      .slider__item-name{
        margin-bottom: 4px;
      }

      .slider__item-job{

      }


      .item__socials{
        width: 90px;
        display: flex;
        justify-content: space-between;
        svg{
          fill: white;
          opacity: .6;
        }
      }

      .item__socials svg:hover{
        opacity: 1;
      }
